body {
    background-color: #00d9ff5e;
}

header {
display: flex;
flex-direction: column;
row-gap: 110px;
padding-bottom: 100px;
}

header, #menu, #subheading {
    
    position: sticky;
    z-index: 1000;
    top: 0;  

  
}

#heroHead {
    margin-top: 100px;
}



#titleMain {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    
}


.titleHome {
    position: absolute;
displaY: flex;
color: #eeff00; 
font-size: 100px;
font-weight: bolder;
z-index: 0;
justify-content: center;
top: 0;
  left: 50%;
  transform: translateX(-50%);
-webkit-text-stroke: 2px black;

}

.titleHome2 {
position: absolute;
color: #f700ff;
font-size: 100px;
font-weight: bolder;
z-index: 1;
top: 0;
left: 50%;
transform: translate(-48%);
-webkit-text-stroke: 2px black;


}

.titleHome3 {
position: absolute;
color: #00d9ff;
font-size: 100px;
font-weight: bolder;
z-index: 2;
top: 0;
left: 50%;
transform: translate(-46%);
-webkit-text-stroke: 2px black;

}

#subheading {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -165px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
     position: relative;
  z-index: 10;
  color: #f700ff;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: -100px;
  margin-top: 50px;
}

#menu span:hover, .cart span:hover {
    color:#3d3c3c;
}

.cart {
  position: fixed;
  top: 20px;       /* distance from top */
  right: 20px;     /* distance from right */
  z-index: 2000;   /* above everything */
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  gap: 5px;
}

.cartDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 5px;
}


.cartIcon:hover {
fill:#3d3c3c;
}


#mainHome {
    height: 65vh;
}


#description {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 50px;
    width: 800px;
    
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 200px;
    position: relative;
    
   

}

span {
    display: flex;
    flex-direction: column;
   text-align: start;
}

.sideBorder1 {

   position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 200px;
    /* box-shadow: 8px 8px 5px -2px rgb(100, 100, 100); */
    border-style: solid;
    border-left-width: 30px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-right-color: #3d3c3c;
     border-top-color: #3d3c3c;
      border-bottom-color: #3d3c3c;
    border-left-color: #eeff00;
    z-index: 4;
   background-color: #ffffff;
   color: #525252;
    box-shadow: 1px 2px 5px 3px rgba(75, 74, 74, 0.473);
    
}
.sideBorder2 {
    position: absolute;
  top: -300px;
  left: 15px;
  width: 10px;
  height: 200px;
border-style: solid;
    border-left-width: 30px;
    border-left-color: #f700ff;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
z-index: 5;
background-color: transparent;


}

.sideBorder3 {
    position: absolute;
  top: -600px;
  left: 30px;
  width: 10px;
  height: 200px;
border-style: solid;
    border-left-width: 20px;
    border-left-color: #00d9ff;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
z-index: 6;
background-color: transparent;

}

#buyBtn {

    margin-top: -550px;
    
}